{% extends 'base.html' %}

{% block content %}

    <br/>
    {% for message in get_flashed_messages() %}
        {% if 'success' in message|lower %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% elif 'already' in message|lower%}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% else %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}

    <br/>
    <br/>

    <h1> Edit Blog...</h1>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
            {{ form.slug.label(class="form-label") }}
            {{ form.slug(class="form-control") }}
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control", rows='5') }}
            <br/>
            {{ form.submit(class="btn btn-primary") }}
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='content') }}
    </div>
    <br/>
    <br/>
    <div style="width: 150px; display: inline-block;">
        <a href="{{ url_for('blogs')}}" class="btn btn-primary btn-sm">← Back</a>
      </div>
      {% if current_user.id == blog.author_id %}
            <div style="width: 150px; display: inline-block;">
                <a href="{{ url_for('deleteBlog', id=blog.id)}}" class="btn btn-danger btn-sm">
                    Delete 🗑️
                </a>
            </div>
        {% endif %}
{% endblock %}