{% extends 'base.html' %}

{% block content %}
    <br/>
    {% for message in get_flashed_messages() %}
        {% if 'success' in message|lower %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% elif 'already' in message|lower%}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% else %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}
    <br/>
    <br/>
    <!--<div class="shadow p-3 mb-3 bg-body-primary card mb-0" style="border-radius: 30px;">
        <h1>About your profile</h1>
        <hr class="my-2">
        <div class="card-body p-2">
            <h3 class="mb-0">{{ current_user.name }}
            </h3>
            <p class="small mb-0">
                <i class="fas fa-star fa-lg text-warning"></i> 
                <span class="mx-2">|</span>
                @{{ current_user.username }}
                <span class="mx-2"> | </span>
                {{ current_user.email }}
            </p>
            <p class="small mb-0"> Joined <strong>Creative Quill</strong> on {{ current_user.dateAdded }}</p>
        </div>
    </div>-->
    <div class="shadow p-3 mb-3 bg-body-primary card mb-0" style="border-radius: 30px;">
        <div class="row">
            <div class="col-md-8">
                <h1>About your profile</h1>
                <hr class="my-2">
                <div class="card-body p-2">
                    <h3 class="mb-0">{{ current_user.name }}</h3>
                    <p class="small mb-0">
                        <i class="fas fa-star fa-lg text-warning"></i>
                        <span class="mx-2">|</span>
                        @{{ current_user.username }}
                        <span class="mx-2"> | </span>
                        {{ current_user.email }}
                    </p>
                    <p class="small mb-0">Joined <strong>Creative Quill</strong> on {{ current_user.dateAdded }}</p>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="{{ url_for('static', filename='profile.png') }}" width="150" alt="User Image" class="img-fluid rounded-circle">
            </div>
        </div>
    </div>
    
    
    <br/>
        <div class="shadow p-3 bg-body-primary card mb-0"style="border-radius: 30px;">
            <h1>Update your profile</h1>
            <hr class="my-2">
            <form action="/dashboard" method="POST">
                {{ form.hidden_tag() }}

                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control", value=current_user.name) }}
                
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control", value=current_user.email) }}
                
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control", value=current_user.username) }}
                
                {{ form.about_author.label(class="form-label") }}
                <textarea name = 'about_author' class = 'form-control'>{{ current_user.about_author }}</textarea>
                <br/>
                {{ form.submit(class="btn btn-primary") }}
                <a href="{{ url_for('deleteUser', id=current_user.id)}}" class="btn btn-danger">Delete</a>
            </form>
        </div>
        <br/>

{% endblock %}