{% extends 'base.html' %} 
{% block content %}

    <br/>
    {% for message in get_flashed_messages() %}
        {% if 'success' in message|lower %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% elif 'already' in message|lower%}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% else %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}

    <br/>
    <br/>

    <div class="my-5">
        <div class="p-5 text-center bg-body-tertiary">
            <div class="container py-5">
                <h1 class="text-body-emphasis">{{ blog.title|title }}</h1>
                <strong class="d-inline-block mb-2 text-success-emphasis">By: {{ blog.authorId.name }}</strong>
                <br/>
                <br/>
                <p class="col-lg-8 mx-auto lead" style="text-align: justify; max-width: 1000px;">{{ blog.content|safe }}</p>
            </div>
        </div>
    </div>
    <div style="width: 150px; display: inline-block">
        <a href="{{ url_for('blogs')}}" class="btn btn-primary btn-sm">← Back</a>
    </div>
    {% if current_user.id == blog.author_id %}
            <div style="width: 150px; display: inline-block;">
                <a href="{{ url_for('editBlog', id=blog.id)}}" class="btn btn-secondary btn-sm">
                    Edit ✒
                </a>
            </div>
            <div style="width: 150px; display: inline-block;">
                <a href="{{ url_for('deleteBlog', id=blog.id)}}" class="btn btn-danger btn-sm">
                    Delete 🗑️
                </a>
            </div>
        {% endif %}
    <br />
    <br />

{% endblock %}
